---
import Section from "./generic/Section.astro";
---

<Section title="À propos">
  <div class="space-y-1">
    <p>
      Je suis Software Engineer spécialisée en développement front-end, avec une
      solide expérience acquise au fil des années, d'abord en agence web, puis
      au sein de startups.
    </p>
    <p>
      Au cours de ma carrière, j’ai développé une forte compétence dans la
      création d’applications web, en veillant à ce qu'elles soient non
      seulement performantes, mais aussi parfaitement alignées avec les attentes
      des utilisateurs. Mon travail englobe toutes les étapes du développement,
      de l’architecture technique à la livraison finale, en passant par une
      attention particulière à l’ergonomie et au design.
    </p>
  </div>
</Section>
