---
import Section from "./generic/Section.astro";
import Link from "./generic/Link.astro";
---

<Section title="Contact">
  <ul>
    <li>
      - <Link href="https://github.com/claireso">Github</Link>
    </li>
    <li>
      - <Link href="https://fr.linkedin.com/in/claire-sosset-80191321"
        >Linkedin</Link
      >
    </li>
    <li>
      -
      <span class="p-2 inline-block leading-4"
        >claire.sosset -at- gmail -dot- com</span
      >
    </li>
  </ul>
</Section>
